---
import '../styles/global.css';
import Standard from '../layouts/Standard.astro'
---

<!doctype html>
<html lang="en">
	<Standard>
		<h1 class="text-white"> Under Construction :) </h1>
	</Standard>
</html>
