---

interface Link {
  name: string;
  href: string;
}

const links: Link[] = [
	{name: 'home', href: '/'},
	{name: 'about', href: '/about'},
	{name: 'blog', href: '/blog'},
	{name: 'reading', href: '/reading'},
    {name: 'random', href:'/random'}
];
---

<nav>
    <div class="bg-dark flex justify-center pt-8">
        <ul class="flex space-x-36">
            {links.map(link => (
                <li>
                    <a href={link.href} class="text-white hover:text-gray-300">{link.name}</a>
                </li>
            ))}
        </ul>
    <div>
</nav> 